@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}


aside {
    max-height: 100vh !important;
    overflow-y: hidden;
}



.main-sidebar {
    background-color: #007bff !important;
}
.nav-item {
    background-color: #002fff !important;
    color: #fff !important;
    border-radius: 10px;

}

.nav-item.active {
    background-color: #607dff !important;
    color: #fff !important;
    border-radius: 10px;
}

.nav-item:hover {
    opacity: 0.8;
}



.loading-spinner {
    animation: loading-animation 1s infinite;
}


@keyframes loading-animation {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



